body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  

main.home{
    width: 100vw;
    height: 100vh;
    background: url("https://iili.io/JBrjyZu.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

main.home header{
    box-sizing: border-box;
    z-index: 300;
    padding-left: 20px;
    position: absolute;
    top: -5px;
    left: 0px;
    color: white;
    width: 100%;
    border-bottom: 2px solid rgba(249, 249, 249, 0.455);
}

main.home header.header{
    background-color: rgba(0, 0, 0, 0.355);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

main.home header.header .logout{
    cursor: pointer;
    padding-right: 22px;
}
main.home::before{
    content: "";
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.455);

}
.logout a{
    font-weight: 600;
}
div.outlet{
    width: 100vw;
}